$xpend-primary: #7D62FF;
$xpend-secondary: #463a7e;

$xpend-bg: #131416;
$xpend-bg-2: #282828;

$xpend-color: #ffffff;
$xpend-color-negro: #000;
$xpend-titulo: #ffffff;
$xpend-bg-3: #141417;
$xpend-50: 50%;
$xpend-nav-title: #ffffff;
