.x-pt-2{
padding-top: 2rem;
}
.x-mt-2{
margin-top: 2rem;
}
.x-nav-link{
font-weight: 600;
}
.xf-xpend{color: $xpend-primary !important;}
.xb-xpend{background: $xpend-primary !important;}
.xf-blanco{color: #fff !important;}
.xb-blanco{background: #fff !important;}
.xf-negro{color: #000 !important;}
.xb-negro{background: #141417 !important;}
.xf-gris{color: #bcbcbc !important;}
.xb-gris{background: #9b9b9b !important;}
.x-center{text-align: center !important; margin: auto !important;}
.xf-b{font-weight: 700 !important;}
.xf-l{font-weight: 200!important;}
.xf-c{font-style: italic !important;}
.xf-4{font-size: 11px !important;}
.xf-3{font-size: 15px !important;}
.xf-2{font-size: 22px !important;}
.xf-1{font-size: 30px !important;}
.x-e{padding-top: 5px;}
.x-btn{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    background: $xpend-primary;
    padding: 8px 13px;
    border-radius: 30px;
    text-decoration: none  !important;
    font-size: 0.8rem;
    display: inline-block;
}
.x-btn:hover{
transition: .2s all;
    background: #000;
    color: #fff;
}
.x-btnl{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    background: $xpend-primary;
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none  !important;
}
.x-btnl:hover{
    background: #000;
    color: #fff;
    transition: .2s all;
    text-decoration: none  !important;
}
.x-btn-spotify{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    background: #1DB954;;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none  !important;
}
.x-btn-youtube{
    text-decoration: none;
    color: #fff;
    background: red;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none  !important;
    display: inline-block;
}
.x-btn-spotify, .x-btn-youtube:hover{
    background: #000;
    color: #fff !important;
}
@media only screen and (max-width: 600px){
    .x-btn{
        font-size: 11px !important;
    }
.menuopen{
    display: block !important;
    position: relative;
}
.x-btn-youtube{
    font-size: 11px !important;
}
}
.boton-bio{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    margin: 10px;
    background: $xpend-primary;
    padding: 5px 10px;
    border-radius: 30px;
    text-decoration: none  !important;
}