$xpend-primary: #943fff;
$xpend-bg: #131416;
$xpend-bg-2: #18191c;
$xpend-color: #ffffff;
$xpend-color-negro: #000;
$xpend-titulo: #ffffff;
$xpend-bg-3: #0f0f11;
$xpend-50: 50%;
$xpend-nav-title: #ffffff;