.autor-blg {
    padding: 8px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(60, 60, 60, 0.398);
    border-radius: 50px;
}
.img-post-blog {
    border-radius: 4px;
}